.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}


* {
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
  overflow-x: hidden;
}

